We are currently in this room <image>. Please help me with the following task. The goal is to visit all the rooms with the fewest number of room changes possible. In each room you need to decide the direction to go in. Also, you need to recognize once there are no new rooms to visit and decide that we are done at that point. Please give your answer in the following format: “GO: <direction>”: to step into a new room, replace direction with one of [north, south, east, west]. “DONE”: This will end the game and we will be graded.
Let us start. 
From this room we can go in the following directions: $INITIAL_DIRECTIONS$. What should we do?